<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Iqra abbasi\Desktop\paybillproject\electricitybill.css"/>
    <style>
        body{
 /* background-image:url(electricity.png) ;*/
  background-position: right;
  background-repeat: no-repeat;
  height: 55vh;
  background-size: 45vh 150px;
  background-color: rgb(161, 193, 193) ;
}
.heading h1{
  color: black;
  font-weight: 800;
  text-align: center;
  font-style: calc();
  font-size: xx-large;
  padding: 40px;
  text-align: centre;
  background-color: darkslategray;
  color: white;

}
.portal {
  color: black;
  font-weight: 300;
  font-style: calc();
  font-size: xx-large;
  margin-left: 5px;
margin-right: 1350px;

}
a:link {
  color:black;
}


a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}


a:active {
  color: blue;
}
.inputBox {
  color: black;
  font-weight: 100;
  text-align: center;
  font-style: calc();
  font-size: xx-large;

  margin-left: 500px;
margin-right: 500px;
margin-top: 1px;

}
.portal h1{
  color: black;
  font-weight: 100;
  font-style: calc();
  font-size: xx-large;

  margin-left: 700px;
margin-right: 500px;
margin-top: 1px;
}
    </style>
    <title>Document</title>
</head>
<body>
    <div class="heading">
        <h1> ELECTRICITY BILL </h1>
    </div>
    <br>
    <div class="inputBox">
        <span>BILL AMOUNT </span>
        <input type="integer" placeholder="">
        <br> <br>
    </div>
    <div class="inputBox">
        <span>WALLET MONEY </span>
        <input type="integer" placeholder="">
        <br>
    </div><br><br>
    <div class="inputBox">
        <span> DUE DATE </span>
        <input type="date" placeholder="">
    </div>
    
    <div class="portal">
        
    <a href="/home"> HOME </a>

    <h1> <input type="submit" value="AUTOPAY" class="submit-btn"></h1>

    
    

    </div>