<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
   <style>
    body{
    text-align: right;
    text-decoration-color:whitesmoke ;
    font-size: x-large;
    background-color: rgb(125, 163, 163);
    
    background-position:cover ;
    background-repeat: no-repeat;
    background-size: 300vh 700px;
}
.welcome h1{
    color:black;
    font-weight: 1000;
    text-align: center;
    font-style: calc();
    font-size: 450%;
}
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  .intro {
    margin-left: 800px;
    text-align: left;
    border-left: 5px black;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: 5px;
    

  }
  .about-section{
    padding: 40px;
    text-align: centre;
    background-color: darkslategray;
    color: white;
  }
  
   </style>
    <title>Document</title>
</head>
<body>
    <div class="about-section">
    <a href="/signupp">REGISTER</a> &nbsp;
    <a href="/login">LOGIN</a> &nbsp;
    <a href="/about">ABOUT US</a> &nbsp;
    </div>
    <div class="welcome">
    <h1> WELCOME TO BILL PAY </h1>
    </div>
    <div class="intro">
        <h2> ABOUT THE PROJECT </h2>
        <p> Our project 'Bill Pay' is a bill payment website for various due bills such as electricity bill, water bill, credit card bill, house rent bill , gas bill, mobile recharge and cabel (DTH) bill. Our website creates the account of the user and saves the bill and dates till which it can be paid. Our website also work as a reminder which remind the consumer to pay the bill before due date. It also has the option for auto pay which if selcted by the consumer , pay the bill amount from consumer wallet before due date. </p>
    </div>

</body>
</html>